:host {
  display: flex;
  flex: 1;
  padding: 1rem;
  flex-direction: column;
}
.mat-table {
  width: 100%;
}

.remove_btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.mat-header-cell,
.mat-cell {
  text-align: center;
}
